body {
  // background-color: rgba(34, 30, 46, 0.93);
  background-color: rgba(34, 30, 46, 1);
  color: white;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.light-text {
  color: black;
}

.dark-text {
  color: black;
}

.clickable {
  cursor: pointer;
}
